Annunci.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Annunci" xmlns:tns="http://www.example.org/Annunci" elementFormDefault="qualified">

    <element name="Annuncio" type="tns:Tipo_annuncio"></element>
    
    <complexType name="Tipo_annuncio">
    	<sequence>
    		<element name="Titolo" type="string"></element>
    		<element name="Data" type="date"></element>
    		<element name="Testo" type="string"></element>
    		<element name="Immagine" type="string"></element>
    	</sequence>
    </complexType>
</schema>