Newsletter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Newsletter" xmlns:tns="http://www.example.org/Newsletter" elementFormDefault="qualified">

    <element name="Newsletter" type="tns:Tipo_newsletter"></element>
    
    <complexType name="Tipo_newsletter">
    	<sequence>
    		<element name="Email" type="string"></element>
    	</sequence>
    </complexType>
</schema>