data/Desideri.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Utenti" xmlns="http://www.example.org/Utenti">

    <xsd:element name="Liste" type="Tipo_liste"/>
    	
    <xsd:complexType name="Tipo_liste">
    	<xsd:sequence>
    		<xsd:element name="Lista" type="Tipo_lista" maxOccurs="unbounded"/>
    	</xsd:sequence>
    </xsd:complexType>
    
	<xsd:complexType name="Tipo_lista">
    	<xsd:sequence>
    		<xsd:element name="Utente" type="xsd:string"/>
    		<xsd:element name="Prodotto" type="xsd:string" maxOccurs="unbounded"/>
    	</xsd:sequence>
    </xsd:complexType>

</xsd:schema>

