data/Newsletter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    
    <xs:complexType name="Tipo_newsletter">
    	<xs:sequence>
    		<xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
	
	<xs:element name="Newsletter" type="Tipo_newsletter"/>
</xs:schema>
