data/Utenti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Utenti" xmlns="http://www.example.org/Utenti">


    <xsd:complexType name="Tipo_utente">
    	<xsd:sequence>
    		<xsd:element name="Nome" type="xsd:string"/>
    		<xsd:element name="Cognome" type="xsd:string"/>
    		<xsd:element name="Email" type="xsd:string"/>
    		<xsd:element name="Password" type="xsd:string"/>
    		<xsd:element name="Indirizzo" type="Tipo_indirizzo"/>
    		<xsd:element name="Telefono" type="xsd:string"/>
    		<xsd:element name="Amministratore" type="xsd:boolean"/>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Tipo_indirizzo">
    	<xsd:sequence>
            <xsd:element name="Via" type="xsd:string"/>
            <xsd:element name="Numero_civico" type="xsd:int"/>
            <xsd:element name="Città" type="xsd:string"/>
            <xsd:element name="Provincia" type="xsd:string"/>
            <xsd:element name="CAP" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
	
	<xsd:complexType name="Tipo_utenti">
		<xsd:sequence>
			<xsd:element name="Utente" type="Tipo_utente" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Utenti" type="Tipo_utenti"/>
</xsd:schema>
